<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <body>
    <!-- Tab Links -->
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'Challenge History')"><b>{{tab1Name}}</b></button>
      <button class="tablinks" onclick="openTab(event, 'Quiz')"><b>{{tab2Name}}</b></button>
      <button class="tablinks" onclick="openTab(event, 'Home')"><b>Home</b></button>
      
   </div>
  
<!--Home Tab Content-->
  <div id="Home" class="tabcontent">
    <h1>
      Welcome to {{title}}!
    </h1>
    <img width="300" alt="Challenge Mania Logo" [src]= "bannerPhoto">
  </div>
   <!--Other Tab Content--> 
    <div [id]='tab1Name' class="tabcontent">
    </div>
<div id = "tab2Name" class = "tabcontent">

</div>




</body>